.range {
    position: relative;
    height: 1rem;
}

.range__controls {
    display: flex;
    justify-content: space-between;
}

.range__active,
.range__track {
    position: absolute;
    height: 0.25rem;
    top: 0.5rem;
}

.range__active {
    position: absolute;
    background-color: #00a1af;
    z-index: 1;
}

.range__track {
    position: absolute;
    background-color: #ddd;
    z-index: 0;
    left: 0;
    right: 0;
}

.range__input {
    width: 100%;
    height: 1rem;
    outline: none;
    position: absolute;
    background: transparent;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    pointer-events: none;
}

input[type="range"]:active.range__input,
input[type="range"]:focus.range__input {
    outline: none;
}

input[type="range"]::-moz-focus-outer.range__input {
    border: 0;
}

input[type="range"]::-ms-track.range__input {
    box-shadow: none;
    border: none;
    background: transparent;
    -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track.range__input {
    box-shadow: none;
    border: none;
    background: transparent;
    -webkit-appearance: none;
}

input[type="range"]::-moz-range-track.range__input {
    display: none;
}

input[type="range"]::-moz-range-thumb.range__input {
    z-index: 2;
    background: #00a1af;
    border-radius: 100%;
    height: 1rem;
    width: 1rem;
    position: relative;
    box-sizing: border-box;
    appearance: none;
    cursor: pointer;
    pointer-events: all;
}

input[type="range"]::-webkit-slider-thumb.range__input {
    -webkit-appearance: none;
    z-index: 2;
    background: #00a1af;
    border-radius: 100%;
    height: 1rem;
    width: 1rem;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    pointer-events: all;
}
